body {
  padding-top: 80px;
  padding-bottom: 20px;
}

body.home {
  padding-top: 50px;
}

body.home img.img-splash {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

body.home div.jumbotron {
  margin-bottom: 0px;
}

body.home div.footer {
  padding-top: 20px;
}

body.accounts-form {
  padding-top: 90px;
}

body.accounts-form legend {
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

div.footer {
  padding-top: 50px;
}

form#solution-form .input-group .form-control {
  width-a: 400px;
}

.task-description {
  font-size: 115%;
  margin-top: 1.6em;
  margin-bottom: 1.9em;
}

.task-files {
  margin-top: 2.6em;
  margin-bottom: 1.9em;
}

.task-list-panel {
  margin-top: 20px;    /* to match the h1's margin on the right side*/
}
